main {
  position: relative;
  height: 100vw;
  overflow-y: scroll;
  /* scroll-snap-type: mandatory; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 55px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

main > section {
  width: 100%;
}
